    //VARIABELS


//COLORS
$Primary:(#FF1168);
$Secondary:(#341931);
$Additional:(#111625);
$Gradient:linear-gradient(180deg, #EE0979, #FF6A00);
$Navy:(#115793);
$Light-blue:(#00A1CB);
$Turquoise:(#0ABEBE);
$Olive:(#3A7634);
$Green:(#5EB11C);
$Yellow:(#F2BC06);
$Orange:(#F18D05);
$Red:(#E45028);

// FONTS



$Headline1:(48pt);
$Headline2:(36pt);
$Headline3:(32pt);
$Headline4:(24pt);
$Headline5:(20pt);
$Headline6:(16pt);

$Text:(15pt);

$Font:( 'Poppins', sans-serif);


